.wrapmainheaderandconten{
    flex: 1;
    position: relative;
    // overflow-y:overlay;
}

.wrapconten{
    width: 100%;
}
.content{
    // margin-top: 70px;
    height: 100%;
    padding: 70px 67px 0 67px;
    position: absolute;
    // overflow-y: scroll;
    width: 100%;
}

.content::-webkit-scrollbar{
    // width: 5px;
    // z-index: 9;
    display: none;
}

.content::-webkit-scrollbar-thumb{
    // border-radius: 20px;
    // background-color: azure;
    display: none;
}

.content::-webkit-scrollbar-thumb:hover{
    // display: block;
}
