.moiphathanh_title_header{
    h3{
        font-size: 20px;
        color: aliceblue;
    }
}
.moiphathanh_title_body{
    button{
        border-radius: 15px;
        width: 96px;
        height: 25px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        p{
            margin: 0;
        }
    }
}