.scroll{
    position: absolute;
    height: 100%;
    background-color: aliceblue;
    width: 5px;
    right: 0;
    top: 0;
    z-index: 1;
}
.scrollitem{
    position: absolute;
    width: 100%;
    // height: 30%;
    background-color: rgb(234, 13, 13);
}